<% if (dashboard === false) { %>
<hr>
<p class='cannot-buy-error <%= game.id %>'>You Don't Have Enough Coins! Buy More!</p>
<div class='row listing-row'>
  
  <div class='col-xs-2' >
   Price:
   <%= game.get('price') %>
   <br>
    Seller:
    <a href='#/user/<%= game.attributes.user.id %>'><%= game.attributes.user.username %></span></a>
  </div>
  
  <div class='col-xs-2' >
    Console:
    <%= game.get('console') %>
  </div>

  <div class='col-xs-4 list-div' >
    Comments: 
    <%= game.get('comments') %>
  </div>
  
  <div class='col-xs-2 list-div' >
    Condition:
    <%= game.get('condition') %>
    
  </div>

  <% if (game.get('user_id') !== parseInt(userID)) { %>
  <div class='col-xs-2 list-div' >
   <form class='buy-form'>
     <input type='hidden' name='sale[game_id]' value='<%= game.id %>'>
     <button class='btn btn-xs btn-primary buy-btn'>Buy Game Now</button>
   </form>
  </div>
  <% } %>
</div>
<% } %>


<% if (dashboard === true) { %>
<hr>
<div class='row'>
  
  <div class='col-xs-4 list-div' >
    Game Title:
    <br>
    <a data-id='<%= game.id %>' href='#/games/<%= game.get('api_id') %>' class='game-link'><%= game.get('title') %></a>
    <br>
    
    <% if (game.attributes.buyer){ %>
      <% if (game.attributes.buyer.id == userID) { %>
        Seller: <a href='#/user/<%= game.attributes.user.id %>'><%= game.attributes.user.username %></a>
      <% } else { %>
        Buyer:  <a href='#/user/<%= game.attributes.buyer.id %>'><%= game.attributes.buyer.username %></a>
      <% } %>
    <% } else { %>
      Seller:
       <a href='#/user/<%= game.attributes.user.id %>'><%= game.attributes.user.username %></a>
    <% } %>
    
    
  </div>

  
  <div class='col-xs-4 list-div' >
    Condition:<br>
    <%= game.get('condition') %>
  </div>

  <div class='col-xs-4 list-div' >
   Price:
   <%= game.get('price') %>
   
   
   <% if (game.attributes.buyer){ %>
     <% if (game.attributes.buyer.id == userID) { %>
       <span class='glyphicon glyphicon-minus'></span>
     <% } else { %>
       <span class='glyphicon glyphicon-plus'></span>
     <% } %>
   <% } %>

  </div>
  
</div>
<% } %>