<% if (dashboard === false) { %>
<div class='row'>
  
  <div class='col-xs-4' >
    Game Title:
    <a data-id='<%= game.id %>' href='#/games/<%= game.id %>' class='game-link'><%= game.get('title') %></a>
    <br>
    Seller:
    <a href='#/users/<%= game.attributes.user.id %>'><%= game.attributes.user.username %></span>
  </div>

  <div class='col-xs-4 list-div' >
    Comments: 
    <%= game.get('comments') %>
  </div>
  
  <div class='col-xs-2 list-div' >
    Condition:
    <%= game.get('condition') %>
  </div>

  <div class='col-xs-2 list-div' >
   Price:
   <%= game.get('price') %>
  </div>
  
</div>
<% } %>


<% if (dashboard === true) { %>
<hr>
<div class='row'>
  
  <div class='col-xs-4 list-div' >
    Game Title:
    <br>
    <a data-id='<%= game.id %>' href='#/games/<%= game.id %>' class='game-link'><%= game.get('title') %></a>
    <br>
    
    <% if (game.attributes.buyer){ %>
      <% if (game.attributes.buyer.id == userID) { %>
        Seller: <a href='#/user/<%= game.attributes.user.id %>'><%= game.attributes.user.username %></a>
      <% } else { %>
        Buyer:  <a href='#/user/<%= game.attributes.buyer.id %>'><%= game.attributes.buyer.username %></a>
      <% } %>
    <% } else { %>
      Seller:
       <a href='#/user/<%= game.attributes.user.id %>'><%= game.attributes.user.username %></a>
    <% } %>
    
    
  </div>

  
  <div class='col-xs-4 list-div' >
    Condition:<br>
    <%= game.get('condition') %>
  </div>

  <div class='col-xs-4 list-div' >
   Price:
   <%= game.get('price') %>
   
   
   <% if (game.attributes.buyer){ %>
     <% if (game.attributes.buyer.id == userID) { %>
       <span class='glyphicon glyphicon-minus'></span>
     <% } else { %>
       <span class='glyphicon glyphicon-plus'></span>
     <% } %>
   <% } %>

  </div>
  
</div>
<% } %>