<div>
Hello form game show jst
<br>
<a data-id='<%= game.id %>' href='#/games/<%= game.id %>' class='game-link'><%= game.get('title') %></a>
<br>
<%= game.get('price') %>
<br>
<%= game.get('comments') %>
</div>