<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Ninety9Gamers</span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if signed_in? %>
        <li><a href='#/'>Dashboard</a></li>
        <li><a href='#/games'>Browse</a></li>
        <li><a href='#/sell'>Sell</a></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
        <li>
            <form class="navbar-form nav navbar-nav navbar-right nav-search-bar" role="search">
              <div class="form-group">
                <input type="text" class="form-control nav-search-input" placeholder="Search for Games" name='query'>
              </div>
              <button type="submit" class="btn btn-default nav-search-submit">Search</button>
            </form>
        </li>
        <% end %>

        <% if signed_in? %>
          <li><button data-toggle="modal" data-target=".bs-example-modal-sm" class='navbar-btn btn btn-default'>Coins: <span class='coin_amt'><%= current_user.coins %></span></button></li>
          <li><p class="navbar-text navbar-right"><%= current_user.username %> &nbsp &nbsp</li>
        <% end %>

        <% if signed_in? %>
        <li>
          <%= button_to "Sign out", sessions_url, method: :delete, class: "btn btn-primary navbar-btn" %>
        </li>
        <% else %>
        <li>
          <ul class="nav navbar-nav">
            <li><%= link_to "Log in", new_sessions_url %></li>
            <li><%= link_to "Sign up", new_user_url %></li>
          </ul>
          <% end %>
          
        </li>
      </ul>
    </div>
  </div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= flash[:errors].join("<br>") %>
</div>
<% end %>
